<div fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="gappx" class="width-100 height-100">
  <h1>Student Information</h1>
  <div fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="gappx" class="width-100 height-100">
    <table style="width: 60%" class="table">
      <th>First Name</th>
      <th>last Name</th>
      <th>Email</th>
      <th>Age</th>

      <tbody *ngFor="let student of students" style="width: 70%">
        <tr>
          <td>{{ student.firstName }}</td>
          <td>{{ student.lastName }}</td>
          <td>{{ student.email }}</td>
          <td>{{ student.age }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
